* {
  font-family: "Pretendard-Regular";
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #efeef4;
}
.inner {
  width: 1200px;
  margin: auto;
  height: 100%;
}
img {
  width: 100%;
  height: auto;
}
:root {
  --color-purple: #391797;
}
section h2 {
  font-family: "Syne", sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: var(--color-purple);
}
.only-mo {
  display: none;
}
/* #################### nav #################### */
.gnb {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  z-index: 5;
}

.gnb-content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.gnb-content a {
  font-family: "Syne", sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--color-purple);
  opacity: 0.85;
}
.gnb-content a + a {
  margin-left: 30px;
}

/* #################### header #################### */
.header {
  height: 100vh;
}

.header-content {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}
.header h1 {
  font-family: "Syne", sans-serif;
  font-weight: 700;
  font-size: 78px;
  color: #222;
  margin: 30px 0 40px 0;
}
.header h2 {
  font-family: "Syne", sans-serif;
  font-size: 28px;
  font-weight: 500;
  color: var(--color-purple);
  margin-bottom: 25px;
}

.header-link {
  display: flex;
}
.header-link > a {
  display: flex;
  align-items: center;
  letter-spacing: 0.6px;
}
.header-link a span {
  margin-right: 5px;
  color: #9999fd;
}
.header-link a + a {
  margin-left: 12px;
}
/* #################### section: about #################### */

.about-content {
  padding-top: 50px;
  padding-bottom: 100px;
}
.about-content > p {
  line-height: 38px;
  font-size: 18px;
}
.about-boxes {
  display: flex;
  margin-top: 45px;
  justify-content: space-between;
}
.about .box {
  width: 33%;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
}

.box-inner {
  padding: 25px 0;
  width: 85%;
  margin: auto;
}
.box-inner h3 {
  margin: 0;
  font-family: "Syne", sans-serif;
  font-weight: 600;
  font-size: 22px;
  letter-spacing: 2px;
  color: var(--color-purple);
  margin-bottom: 25px;
}

.box p::before {
  content: "";
  display: inline-block;
  border-radius: 10px;
  width: 8px;
  height: 8px;
  margin-right: 8px;

  background-color: #9999fd;
}
.box-inner p {
  display: flex;
  align-items: baseline;
  margin: 0;
  font-size: 15px;
  line-height: 32px;
}

.skills-list li {
  display: inline-block;
  border-radius: 2px;
  padding: 5px 10px;
  margin: 5px 10px 5px 0;
  color: #fff;
}

.skills-list li:nth-of-type(1) {
  background-color: #e35027;
}
.skills-list li:nth-of-type(2) {
  background-color: #1472b7;
}
.skills-list li:nth-of-type(3) {
  color: gray;
  background-color: #f7df2b;
}
.skills-list li:nth-of-type(4) {
  background-color: #30a9fd;
}
.skills-list li:nth-of-type(5) {
  background-color: #ff9a1b;
}
.skills-list li:nth-of-type(6) {
  background-color: #ff62f6;
}
.skills-list li:nth-of-type(7) {
  background-color: #000000;
}
.skills-list li:nth-of-type(8) {
  background-color: #9999fd;
}
/* #################### section: portfolio #################### */
.portfolio {
  background: #fff;
}
.portfolio-inner {
  padding: 50px 0 100px 0;
}
.btn-wrap button {
  all: unset;
  background-color: #fff;
  color: var(--color-purple);
  border: 1px solid var(--color-purple);
  padding: 16px 30px;
  border-radius: 50px;
  text-transform: uppercase;
  margin-right: 5px;
  cursor: pointer;
  font-family: "Syne", sans-serif;
  letter-spacing: 2px;
  font-weight: 600;
  font-size: 15px;
  transform: scale(1);
  transition: 0.5s;
}
.btn-wrap button:hover {
  background-color: var(--color-purple);
  color: #fff;
  transform: scale(0.95);
}

.img-wrap {
  padding-top: 100px;
  column-count: 3;
}
.img-item {
  position: relative;
  border-radius: 10px;
  border: 1.5px solid transparent;
  z-index: 1;
}

.img-item .item-inner-wrap {
  width: 100%;
  height: 250px;
}
.img-item::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #9999fd;
  transform: translate(0);
  transition: 0.5s;
  z-index: -1;
  border-radius: 10px;
}

.img-item:hover::after {
  transform: translate(10px, 10px);
}

.img-item .layer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.95);
  opacity: 0;
  transition: 0.5s ease-out;
  cursor: pointer;
  border: 1.5px solid #9999fd;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-item:hover .layer {
  opacity: 1;
}
.layer .layer-cont {
  width: 80%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: #222;
}
.layer-cont p:not(:nth-of-type(1)) {
  margin-bottom: 10px;
  font-size: 15px;
}

.layer-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 15px;
  color: var(--color-purple);
}

.layer-cont a {
  color: #fff;
  border: 1px solid #efeef4;
  padding: 15px 25px;
  border-radius: 50px;
  margin-top: 15px;
  font-size: 13px;
  letter-spacing: 1px;
  background-color: #9999fd;
  transition: 0.5s;
  text-transform: uppercase;
}
.layer-cont a:hover {
  background-color: var(--color-purple);
}
.item-inner-wrap img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  object-position: top;
  margin-bottom: 10px;
}

/* #################### section: design #################### */
.design {
  position: relative;
}
.design-inner {
  padding: 50px 0 100px 0;
}
.design h2 {
  text-align: center;
  margin-bottom: 50px;
}
.design-content {
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.design-content .item {
  width: calc(100% / 5 - 10px);
  background-color: #fff;
  height: 15.2778vw;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
}
.design-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(1);
  transition: 0.5s;
}
.design-content .item:hover img {
  transform: scale(1.1);
  filter: grayscale(0);
}
.design-btn-wrap .btn {
  all: unset;
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 50%;
  background-color: transparent;
  font-size: xx-large;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-purple);
  cursor: pointer;
}
.design-btn-wrap .prev {
  left: 50px;
}
.design-btn-wrap .next {
  right: 50px;
}
.design-dots {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 50px;
}
.design-dots li {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  margin: 0 2px;
  background-color: #fff;
}
.design hr {
  border: 1px solid #fff;
  opacity: 0.65;
}
/* #################### section: contact #################### */
.contact-inner {
  padding: 50px 0;
}
.contact h2 {
  text-align: center;
  margin-bottom: 15px;
}
.contact-content {
  text-align: center;
  padding: 25px 0;
}

.link-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact .link-wrap p {
  font-family: "Syne", sans-serif;
  font-size: 18px;
  letter-spacing: 2px;
  display: inline-block;
  margin-bottom: 12px;
  text-align: center;
  opacity: 0.85;
}
.qr-code {
  width: 150px;
  height: 150px;
  background-color: #fff;
  border-radius: 10px;
  margin-top: 10px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
/* #################### footer #################### */
.footer {
  text-align: center;
  padding: 50px 0;
  background-color: #e4e2f0;
}
.footer p {
  line-height: 30px;
  font-size: 14px;
}
.copyright {
  font-family: "Syne", sans-serif;
  letter-spacing: 1px;
}
